{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>Portfolio</title>
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Aldrich&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <script async src="https://unpkg.com/es-module-shims@1.6.3/dist/es-module-shims.js"></script>
        <script src="https://kit.fontawesome.com/0cdcaaf032.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=expand_content" />
        

    </head>
    <body>
        
        <nav>
            <div class="navleft">
                <a href="#home">Home</a>
                <a href="#about">About</a>
                <a href="#experience">Experience</a>
                <a href="#resume">Resume</a>
            </div>
            <div class="navright">
                <a href="https://github.com/brayden-aldrich" target="_blank"><i class="fa-brands fa-github" id="github-icon"></i></a>
                <a href="https://www.linkedin.com/in/braydenaldrich/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>
        </nav>
        
        <section id="home">

            <canvas id="holo-render"></canvas>
        
            <div id="intro-text">
                <!-- <img src="/static/img/headshot.jpg" alt="A picture of Brayden Aldrich"> -->
                <h1>    
                    Brayden Aldrich 
                </h1>
            </div>
            <a href="#about"><span></span></a>
        </section>

        <section id="about">
            <p id="left-about-p">I'm a senior at Oregon State studying computer science. I love to build creative solutions and solve practical problems. 
                My area of expertise is Full Stack Development,
                and I have a personal interest in Audio and Graphics.</p>
            <canvas id="photocube"></canvas>
            <p id="right-about-p"></p>
            <a href="#work"><span></span></a>
        </section>


        <div id="experience">

            <div id="work">
                <div id="work-header">
                    <h1 id="work-headline">Work</h1>
                    <select name="work-companies-selection" id="work-companies-selection">
                        {{range .WorkCompanies}}
                            <option value="">All</option>
                            <option value="{{.}}" id="{{.}}">{{.}}</option>
                        {{end}}
                    </select>
                </div>
                {{ range .Work}}
                    <div id="company">
                        <h1>{{.Company}}</h1>
                        <p id="date">{{.Date}}</p>
                        <ul id="work-list">
                            <li id="role">{{.Role}}</li>
                            <li id="department">{{.Department}}</li>
                            <div>
                                <h3>Description</h3>
                                <li>{{.Description}}</li>
                            </div>
                            <div>
                                <h3>Achievements</h3>
                                {{range .Achievements}}
                                    <li class="achievements">{{.}}</li>
                                {{end}}
                            </div>
                            <h3>Technologies</h3>
                            <div id="tech">
                                {{range .Technologies}}
                                    <div>{{.}}</div>
                                {{end}}
                            </div>
                        </ul>
                    </div>
                {{end}}
                
               
            </div>
            <div id="projects">
                <div id="projects-header">
                    <h1 id="projects-headline">Projects</h1>
                    
                    <label for="companies-selection"></label>
                    <select name="companies-selection" id="companies-selection">
                        <option value="">All</option>
                        {{range .ProjectCompanies}}
                            <option value="{{.}}" id="{{.}}">{{.}}</option>
                        {{end}}
                    </select>
                </div>
                {{ range .Projects }}
               
                    <div id="{{.Company}}" class="project-card">
                        <div class="project-card-header">

                            <h1 class="project-name">
                                {{if eq .Link ""}}
                                    {{.Name}}
                                {{else}}
                                    <a href={{.Link}}>{{.Name}}</a>
                                {{end}}
                            </h1>
                            <span class="material-symbols-outlined" class="expand-projects">
                                expand_content
                            </span>
                        </div>
                        <h3>{{.Company}}</h3>
                        <p>{{.Description}}</p>
                        <img src="/static/img/projects/mastermind.png">
                        <div class="project-tech-list" id="project-tech-list-{{.Name}}">
                            {{ range .Technologies}}
                                <div class="project-tech">{{.}}</div>
                            {{end}}
                        </div>
        
                    </div>
                {{end}}
            </div>
        </div>
        


        
       
        <footer>Powered by <a href='https://golang.org/'>Go</a> and <a href="https://threejs.org/">three.js</a></footer>
        <script type="module" src="/public/holosphere.js"></script>
        <script type="module" src="/public/photocube.js"></script>
        <script type="module" src="/public/main.js"></script>
    </body>
</html>
{{end}}